body, html, h1, h2, h3, h6, ul {
    width: 100%;
    font-size: 100%;    
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1;
}


body *{
    box-sizing: border-box;
}


ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    margin: 20px 0;
    font-size: 27px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.15em;
}

.list_item {
    padding: 5px 0;
}

.link {
    color: black;

    &:hover {
        font-weight: 700;
    }
}

.link:hover {
    font-weight: 700;
    color: blue;
}

.link:hover span {
    color: red;
}