
.text {
    width: 500px;
}

textarea {
    width: 500px;
    height: 100px;
}



.price {
    margin-top: 100px;
    border-collapse: collapse;
}

.title, td {
    border: 1px solid black;
    padding: 4px;
}
.title {
    cursor: pointer;
}
.title:hover {
    background: rgb(137, 137, 230);
    color: azure;
}


.table {
        width: 400px;
        margin-top: 100px;
}


.row {
    background-color: antiquewhite;
    display: flex;
}

.row span {
    width: 200px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    border: 1px solid black;
}




.resizable {
    position: relative;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin: 100px 0;
}

.resizer {
    position: absolute;
    bottom: -14px;
    right: -14px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid black;
    cursor: se-resize;
}


