
.text {
    width: 500px;
}

textarea {
    width: 500px;
    height: 100px;
}



.price {
    margin-top: 100px;
    border-collapse: collapse;
}

.title, td {
    border: 1px solid black;
    padding: 4px;
}
.title {
    cursor: pointer;
}
.title:hover {
    background: rgb(137, 137, 230);
    color: azure;
}


.table {
	width: 100%;
	border: 2px solid #333333; 
    margin: 50px;
    max-width: 1200px;
}

.table th {
	cursor: pointer;
}

.table th, .table td {
	border: 1px solid #333333; 
}



.resizable {
    position: relative;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin: 100px 0;
}

.resizer {
    position: absolute;
    bottom: -14px;
    right: -14px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid black;
    cursor: se-resize;
}


