html, body, h1, h2, p, ul, li,label, footer, header,section {
    margin: 0;
	padding: 0;
}

body *{
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

ul,li {
    list-style: none;
    text-decoration: none;
}

/*body*/

.hero {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-top: 100px;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #3B3F45;
    width: 793px;
    height: 507px;
}

.header {
    width: 534px;
    height: 82px;
    margin: 0 auto;
    background-color: #4A4F56;
    color: #FF8984;
}

.header_list {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    padding-top: 16px;
}

.header_text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-top: 4px;
}

.section_list {
    display: flex;
    justify-content: center;     
} 

.label {
    display: flex;
    align-items: center;
    width: 534px;
    height: 45px;
}

.label:active {
    background-color: #c06a67;
}

.fake_checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px 0 6px;
    width: 19px;
    height: 19px;
    background-color: #FFFFFF;
}

.press {
    display: flex;
    align-items: center;
    width: 534px;
    height: 45px;  
}

.light {
    background-color: #88839E;;
}

.dark {
    background: #7A7593;
}

.activ {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 534px;
    height: 45px;
}

.activ:first-child {
    font-size: 18px;
}

.text {
    color: #fff;
}

.span {
    padding-left: 4px;
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
}
.span::before {
    content:'(';
}

.span::after {
    content:')';
}


.press_blue:hover {
    border-width: 2px 0;
    border: solid #fff;
    background: #625E77;    
    box-shadow: 0 0 15px rgba(0,0,0.5,1);
    transition: all .2s ease-in;
}

.press:hover{
    border-width: 2px 0;
    border: solid #fff;
    background: #625E77;   
    box-shadow: 0 0 15px rgba(0,0,0.5,1);
    transition: all .2s ease-in;
}

.footer {
    margin: 0 auto;
    width: 534px;
    height: 45px;
    background-color:  #4A4F56;
}

.footer_text {
    padding-top: 8px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #FF8984;
}

.item input {
   opacity: 0;
   height: 0;
   width: 0;
}

.item input:checked ~ .text {
    text-decoration: line-through;
   opacity: 0.5;
}

.item input:checked ~ .bord {
    border: solid 
}

.item input:checked + .fake_checkbox::before {
    content:'\2714';
    color: rgb(0, 0, 0); 
}

