@media screen and (max-width: 1200px) {
  .slick-prev {
    left: -30px;
  }

  .slick-next {
    right: -30px;
  }

  .slider_products_block {
    padding: 0 35px;
  }

  .container_section {
    padding: 0 35px;
  }

  .slider_card_price {
    font-size: 20px;
    line-height: 20px;
  }

  .card_status {
    padding: 5px 6px;
    font-size: 9px;
    line-height: 10px;
  }
}
@media screen and (max-width: 768px) {
  .logo_svg {
    max-width: 168px;
  }

  .nav_link {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 15px;
  }

  .search_svg {
    width: 27px;
    height: 27px;
  }

  .profile_svg {
    width: 27px;
    height: 27px;
  }

  .profile_icon {
    margin-left: 20px;
  }

  .slider_block_title {
    top: 65px;
    right: 65px;
  }

  .slider_title {
    font-size: 26px;
    line-height: 32px;
    max-width: 201px;
    margin-bottom: 20px;
  }

  .btn_link {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
  }

  .products_btn {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
  }

  .section_products {
    padding: 50px 0;
  }

  .section_title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .section_partners {
    padding: 50px 0;
  }

  .slick-prev {
    left: -20px;
  }

  .slick-next {
    right: -20px;
  }

  .card_status {
    padding: 5px 4px;
    font-size: 8px;
    line-height: 9px;
  }

  .footer_nav_link {
    font-size: 16px;
    line-height: 20px;
  }

  .nav_wripper {
    display: flex;
    gap: 30px;
  }

  .footer_tel, .footer_title {
    font-size: 20px;
    line-height: 24px;
  }

  .social_icon {
    font-size: 26px;
  }

  .social.social:not(.social:last-child) {
    margin-right: 20px;
  }

  .footer_title {
    margin-bottom: 26px;
  }

  .footer_social {
    margin-bottom: 20px;
  }

  .slider_block ul.slick-dots {
    bottom: 15px;
  }

  .slider_block ul.slick-dots button {
    width: 12px;
    height: 12px;
  }
}
@media screen and (max-width: 668px) {
  .nav_list {
    display: none;
  }

  .slider_block_title {
    top: 40px;
    right: 40px;
  }
}
@media screen and (max-width: 568px) {
  .logo_svg {
    max-width: 100px;
  }

  .search_svg {
    width: 20px;
    height: 20px;
  }

  .profile_svg {
    width: 20px;
    height: 20px;
  }

  .slider_block_title {
    top: 20px;
    right: 20px;
  }

  .slider_title {
    font-size: 23px;
    line-height: 28px;
    max-width: 190px;
    margin-bottom: 5px;
  }

  .slider_card_item {
    margin: 0 10px 20px;
  }

  .slick-dots {
    margin-bottom: 35px;
  }

  .nav_wripper {
    display: flex;
    gap: 50px;
  }

  .footer {
    padding: 50px 0 20px;
  }

  .footer_contacs {
    margin-top: 35px;
  }

  .footer_title {
    margin-bottom: 20px;
  }

  .slider_block ul.slick-dots {
    bottom: -25px;
  }

  .slider_block ul.slick-dots button {
    width: 10px;
    height: 10px;
  }
}