.container {
  width: 100%;
  max-width: 1172px;
  padding: 0 15px;
  margin: 0 auto;
}

.container_section {
  width: 100%;
  max-width: 1400px;
  padding: 0 100px;
  margin: 0 auto;
}

.header {
  background-color: #F8F1EA;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  width: 182px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav_link {
  padding: 28px 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.active {
  background-color: #F16A50;
  color: #FFFFFF;
}

.search_svg, .profile_svg {
  width: 36px;
  height: 36px;
}

.profile_icon {
  margin-left: 30px;
}

.slider_wrapper {
  position: relative;
  width: 100%;
}
.slider_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%);
}

.slider_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F1EA;
  max-width: 400px;
  width: 100%;
  margin-bottom: 50px;
}

.slider_block_title {
  position: absolute;
  top: 120px;
  right: 100px;
}

.btn_link {
  border: 2px solid #F8F1EA;
  padding: 14px 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F1EA;
}

.slider_block ul.slick-dots {
  position: absolute;
  bottom: 30px;
}

.section_products {
  padding: 70px 0;
}

.section_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 50px;
}

.slick_arrow {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.slick_arrow img {
  width: 40px;
  display: inline-block;
}

.slick-prev {
  left: -50px;
  transform: translateY(-50%);
}

.slick-next {
  transform: rotate(180deg) translateY(50%);
  right: -50px;
}

.slider_products_block {
  max-width: 1400px;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

.slider_card_item {
  border: 1px solid #F8F1EA;
  margin: 0 10px 50px;
}

.slider_card_img {
  width: 100%;
  padding: 0 10px;
}

.slider_card_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  max-width: 205px;
  margin-top: 10px;
}

.slider_card_price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  display: block;
  margin: 10px 0 20px;
}

.card_status {
  display: inline-block;
  padding: 5px 8px;
  background-color: #F16A50;
  color: #F8F1EA;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper_btn {
  text-align: center;
}

.products_btn {
  border: 2px solid #000000;
  padding: 14px 57px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-items: center;
  gap: 20px;
  justify-content: center;
}

.slick-dots button {
  display: inline-block;
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #CAC2BA;
}

.slick-dots li.slick-active button {
  background-color: #F16A50;
}

.section_partners {
  padding: 70px 0;
  background-color: #F8F1EA;
}

.slider_partner_img {
  max-width: 114px;
  width: 100%;
  margin: 0 10px;
  min-height: 4em;
}

.footer {
  background-color: #35312D;
  padding: 70px 0 20px;
}

.footer_wripper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.logo_footer {
  width: 150px;
  margin-bottom: 35px;
}

.footer_nav_item:not(.footer_nav_item:last-child) {
  margin-bottom: 10px;
}

.footer_nav_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #F8F1EA;
}

.footer_title, .footer_tel {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #F8F1EA;
}

.footer_title {
  margin-bottom: 48px;
}

.footer_social {
  margin-bottom: 32px;
}

.social:not(.social:last-child) {
  margin-right: 35px;
}

.social_icon {
  font-size: 30px;
  color: #F8F1EA;
}

.footer_copyright {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F8F1EA;
  text-align: center;
}

.active {
  border: 1px solid #F16A50;
}