.nav_link:hover {
    background-color: #F16A50;
    color: #FFFFFF;
}

.footer_nav_link:hover {
    color: #F16A50;
}

.social_icon:hover {
    color: #F16A50;
}

.products_btn:hover {
    border: 2px solid #F16A50;
    background-color: #F16A50;
    color: #F8F1EA;
}

.slider_card_item:hover {
    border: 1px solid #F16A50;
}

.btn_link:hover {
    border: 2px solid #F16A50;
    background-color: #F16A50;
    color: #F8F1EA;
}

.slick_item_prev::before {
    content: '';
    display: block;
    background-image: url(../img/prev.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 74px;
}

.slick_item_next::before {
    content: '';
    display: block;
    background-image: url(../img/prev.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40px;
    height: 74px;
}

// .slick-prev:hover .slick_item_next {
//     color: #F16A50;
// }