@charset "UTF-8";
/* train-one-regular - latin */
@font-face {
  font-family: "Train One";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/train-one/train-one-v13-latin-regular.woff2") format("woff2"), url("../fonts/train-one/train-one-v13-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/lato/lato-v23-latin-300.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/iconmoon/icomoon.eot");
  src: url("../fonts/iconmoon/icomoon.eot") format("embedded-opentype"), url("../fonts/iconmoon/icomoon.ttf") format("truetype"), url("../fonts/iconmoon/icomoon.woff") format("woff"), url("../fonts/iconmoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-telegram:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-linkedin2:before {
  content: "";
}

body, html, p, h1, h2, h3, h6, ul, li {
  width: 100%;
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 1;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  height: 80px;
  border-bottom: 1px solid #BDBDBD;
  padding: 9px 0;
  background-color: #FFFFFF;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_logo_text {
  font-family: "Train One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
  color: #282528;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav_item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3C3C3C;
  transition: all 0.3s ease;
}

.btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #3C3C3C;
  color: #3C3C3C;
  background-color: inherit;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #18B5DC;
  color: #FFFFFF;
  border: 1px solid #18B5DC;
}

.content {
  background-color: #F6F6F6;
}
.content_team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content-wrapper {
  padding: 150px 0;
}
.content_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  letter-spacing: 0.13em;
  color: #3C3C3C;
  margin-bottom: 60px;
  position: relative;
}
.content_text {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.content_text_item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3C3C3C;
  width: 570px;
}
.content_team_image {
  position: relative;
  max-width: 270px;
  transition: transform 2s ease;
  margin-bottom: 20px;
}
.content_team_name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
}
.content_team_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #646464;
}
.content_image {
  display: block;
  width: 270px;
  height: 270px;
}

.divider {
  display: block;
  border-top: 4px solid #DDDBDB;
  width: 45px;
  height: 0;
  position: absolute;
  top: 61px;
  left: 125px;
}

.footer_wrapper {
  padding: 40px 0;
  text-align: center;
}

.footer_menu {
  font-size: 18px;
  line-height: 21.6px;
}

.footer_nav {
  margin-top: 30px;
  display: inline-block;
}

.footer_social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.social {
  border: 1px solid #18B5DC;
  background-color: #FFFFFF;
  width: 42px;
  height: 42px;
  margin: 0 5px;
  position: relative;
  transition: all 0.3s ease;
}

.icon-telegram, .icon-linkedin2, .icon-instagram, .icon-facebook, .icon-twitter {
  font-family: icomoon !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #18B5DC;
}

.card {
  width: 270px;
  height: 270px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.card_social {
  width: 270px;
  height: 270px;
  background-color: #18B5DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_change {
  border: 1px solid #5DCBE6;
  background-color: #5DCBE6;
  width: 42px;
  height: 42px;
  margin: 0 5px;
  position: relative;
  transition: all 0.3s ease;
}
.card_icon {
  color: #FFFFFF;
}

.nav_item_link:hover {
  color: #18B5DC;
}

.social:hover {
  background-color: #18B5DC;
}
.social:hover .icon-twitter {
  color: #FFFFFF;
}
.social:hover .icon-facebook {
  color: #FFFFFF;
}
.social:hover .icon-instagram {
  color: #FFFFFF;
}
.social:hover .icon-linkedin2 {
  color: #FFFFFF;
}
.social:hover .icon-telegram {
  color: #FFFFFF;
}

.card_change:hover {
  background-color: #FFFFFF;
}
.card_change:hover .icon-twitter {
  color: #18B5DC;
}
.card_change:hover .icon-facebook {
  color: #18B5DC;
}
.card_change:hover .icon-instagram {
  color: #18B5DC;
}

.content_team_image:hover .card {
  z-index: 0;
}