body, html {
    width: 100%;
    height: 100%;
    font-size: 100%;    
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1;
}

body *{
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;   
    font-family: inherit; 
}

/*body*/

.header_content {
    display: flex;
    max-width: 1170px;
    height: 80px;
    margin: 0 auto;
    padding: 22px 0;
}

.content img {
    width: 30px;
    height: 30px;
}

.header_title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 35px;
    padding-left: 10px;
