.reviews_box .reviews_img .reviews_img_item, .service_box .service_page .page_elipse .restangle, .service_box .service_wripper .service_item .service_item_img svg, .arrow_icon svg, .organic_box .organic_wripper .organic_item .item_img svg, .header_wrapper .header_press .header_buy .icon_buy, .header_wrapper .header_press .header_search .icon_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  padding: 50px 0;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header_wrapper .nav_list {
  display: flex;
  gap: 40px;
}
.header_wrapper .nav_item {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
}
.header_wrapper .header_press {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header_wrapper .header_press .header_search {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F3FBF8;
}
.header_wrapper .header_press .header_search .icon_search {
  width: 24px;
  height: 24px;
}
.header_wrapper .header_press .header_buy {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F3FBF8;
}
.header_wrapper .header_press .header_buy .icon_buy {
  width: 24px;
  height: 24px;
  position: absolute;
}
.header_wrapper .header_press .btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 23px;
  background-color: #09A66D;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header_icon {
  width: 56px;
  height: 56px;
}

.organic {
  padding: 95px 0 35px;
  background-image: url(../img/fresh-melientha-suavis.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 550px;
}

.organic_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-top: 60px;
}
.organic_box .organic_img {
  background-color: #F3FBF8;
}
.organic_box .organic_img img {
  width: 100%;
}
.organic_box .arrow_link {
  display: flex;
  align-items: center;
  position: absolute;
  top: -20px;
  left: 43%;
}
.organic_box .organic_wripper {
  display: inline-block;
}
.organic_box .organic_wripper .organic_item {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 17px 46px 17px 35px;
}
.organic_box .organic_wripper .organic_item:not(.organic_item:last-child) {
  margin-bottom: 30px;
}
.organic_box .organic_wripper .organic_item .item_img {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #F3FBF8;
  margin-right: 24px;
}
.organic_box .organic_wripper .organic_item .item_user {
  display: inline-grid;
}
.organic_box .organic_wripper .organic_item .item_user .item_user_number {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.organic_box .organic_wripper .organic_item .item_user .organic_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.arrow_icon {
  display: inline-block;
  border-radius: 50px;
  border: none;
  width: 64px;
  height: 64px;
  background-color: #09A66D;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.service {
  padding: 140px 0;
  background-image: url(../img/Vector16.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.service_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service_box .service_wripper {
  display: inline-block;
}
.service_box .service_wripper .service_item {
  display: flex;
  align-items: center;
  padding: 40px 60px;
}
.service_box .service_wripper .service_item .service_item_img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #F3FBF8;
  margin-right: 24px;
}
.service_box .service_wripper .service_item .service_item_text {
  display: inline-grid;
  width: 280px;
  max-width: 100%;
}
.service_box .service_wripper .service_item .service_item_text .service_title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222222;
  margin-bottom: 8px;
}
.service_box .service_wripper .service_item .service_item_text .service_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}
.service_box .service_wripper .arrow_green {
  position: relative;
}
.service_box .service_wripper .arrow_green svg {
  position: absolute;
  top: 0;
  left: 235px;
}
.service_box .service_page {
  display: inline-block;
  text-align: center;
  width: 48%;
  position: relative;
}
.service_box .service_page .page_elipse {
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
}
.service_box .service_page .page_elipse .page_img {
  width: 100%;
  max-width: 372px;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service_box .service_page .page_half {
  position: absolute;
  top: -92px;
  right: 0px;
}

.location_left {
  text-align: left;
  margin: 0 0 20px;
}

.special_items {
  padding: 90px 0 145px;
  background-image: url(../img/fresh-melientha-suavis.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 550px;
}

.special_items_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.special_items_box .special_items_img {
  width: 50%;
  display: inline-block;
}
.special_items_box .special_items_img img {
  width: 100%;
}
.special_items_box .special_items_wrapper {
  display: inline-block;
  width: 48%;
}
.special_items_box .special_items_wrapper .special_items_link {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.reviews {
  padding: 95px 0 100px;
}

.reviews_box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews_box .reviews_wrapper {
  width: 52%;
}
.reviews_box .reviews_wrapper .reviews_name {
  display: block;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 40px 0 5px;
}
.reviews_box .reviews_wrapper .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 73%;
}
.reviews_box .reviews_img {
  display: inline-block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #F3FBF8;
  position: relative;
}
.reviews_box .reviews_img .reviews_img_item {
  position: absolute;
  border-radius: 50%;
}

.reviews_text {
  width: 90%;
}

.star_gold {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/fourth_star_gold.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-right: 10px;
}

.half {
  background-image: url(../img/fourth_star-gold_half.svg);
}

.reviews_btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer;
}
.reviews_btn svg {
  position: absolute;
  top: 18px;
  left: 21px;
}

.bg {
  background: #09A66D;
  margin-left: 40px;
}

.order {
  padding: 50px 0 150px;
}

.order_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order_box .order_img {
  position: relative;
}
.order_box .order_img .iphone_front {
  position: absolute;
  top: -30px;
  left: 25px;
  max-width: 240px;
}
.order_box .order_img .iphone_back {
  max-width: 210px;
  width: 100%;
}
.order_box .order_wrapper {
  width: 60%;
}
.order_box .order_wrapper .order_btn {
  background-color: #F3FBF8;
  padding: 11px 24px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 15px;
}
.order_box .order_wrapper .order_link {
  margin-top: 50px;
}
.order_box .order_wrapper .order_link > a {
  margin-right: 25px;
}

.footer {
  padding: 65px 0 120px;
  background-color: #FCFEFD;
}

.footer_wripper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
  margin: 30px 0 40px;
}

.footer_text {
  max-width: 345px;
  width: 100%;
  text-align: left;
  margin: 30px 0 0;
}

.footer_social {
  display: flex;
  gap: 50px;
}
.footer_social .icon-instagram, .footer_social .icon-facebook, .footer_social .icon-twitter {
  font-family: icomoon !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}