@mixin text-styling($ff, $fs, $fw, $fz, $lh, $ls, $color) {
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
    color: $color;
    }

$color-text: #000000;    

.header_text {
    @include text-styling('Lato', normal, 400, 16px, 150%, 0.5em, $color-text);
}

.screen_text {
    @include text-styling('Red Hat Display', normal, 600, 48px, 64px, 0.05em, $color-text);
}

.nav_item_link {
    @include text-styling('Lato', normal, 400, 14px, 17px, 0.3em, $color-text);
    text-transform: uppercase;
}

.footer_contacs_wrapper {
    .contacs {
        @include text-styling('Red Hat Display', normal, 400, 48px, 64px, 0.05em, $color-text);
    }
    .contacs_tel {
        @include text-styling('Lato', normal, 400, 16px, 166%, 0.1em, $color-text);
    }
    .contacs_email {
        @include text-styling('Lato', normal, 400, 16px, 166%, 0.1em, $color-text);
    }
}

.footer_copyright {
    @include text-styling('Lato', normal, 400, 12px, 166%, 0.1em, $color-text);
}

