/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato/lato-v23-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-regular - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/red hat display/red-hat-display-v13-latin-regular.woff2") format("woff2"), url("../fonts/red hat display/red-hat-display-v13-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* red-hat-display-600 - latin */
@font-face {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/red hat display/red-hat-display-v13-latin-600.woff2") format("woff2"), url("../fonts/red hat display/red-hat-display-v13-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body, html, h1, h2, h3, h6, ul {
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: 1;
}

p {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 50px;
}

.text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #565656;
}

.section_wripper {
  margin-bottom: 90px;
}

.image_wripper {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.header_text {
  display: inline-block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5em;
  color: #000000;
}

.screen_text {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 70px;
}

.nav_item_link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  color: #000000;
  text-transform: uppercase;
}

.header {
  padding: 38px 0;
}

.nav_wrapper {
  column-gap: 20px;
}

.nav_wrapper ul {
  column-gap: 30px;
}

.hamburger {
  display: none;
  width: 42px;
  height: 42px;
  position: relative;
}
.hamburger .h_line {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  left: 0;
  top: 18px;
  transition: all 0.5s ease;
}
.hamburger::before, .hamburger::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  transition: all 0.5s ease;
}
.hamburger::before {
  top: 3px;
  left: 0;
}
.hamburger::after {
  top: 33px;
  left: 0;
}
.hamburger.open .h_line {
  display: none;
  background-color: #000000;
}
.hamburger.open::before {
  transform: rotate(45deg) translate(20px, 15px);
  background-color: #000000;
}
.hamburger.open::after {
  transform: rotate(-45deg) translate(6px, -1px);
  background-color: #000000;
}

.description_text {
  width: 100%;
  max-width: 570px;
  margin-bottom: 50px;
}

.first_text {
  width: 100%;
  margin-bottom: 50px;
}

.footer {
  background-color: #F4F4F4;
  padding: 70px 0 30px;
}
.footer_contacs_social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_contacs_wrapper {
  display: flex;
  flex-direction: column;
}
.footer_contacs_wrapper .contacs {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 30px;
}
.footer_contacs_wrapper .contacs_tel {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 15px;
}
.footer_contacs_wrapper .contacs_email {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}
.footer_copyright {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: 20px;
  text-align: center;
}

.social {
  border: 1px solid #565656;
  background-color: inherit;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  position: relative;
  transition: all 0.3s ease;
}
.social .fab {
  color: #565656;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social:hover {
  background-color: #565656;
}
.social:hover .fab {
  color: #F4F4F4;
}

.nav_item:hover .nav_item_link {
  font-weight: 600;
}

@media screen and (max-width: 990px) {
  .hamburger {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  .nav_list {
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    transition: all 1s ease;
    transform: translateX(100%);
  }
  .nav_list.open {
    transform: translateX(0);
  }
  .nav_list .nav_item {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }
  .nav_list .nav_item .nav_item_link {
    font-size: 20px;
    line-height: 23px;
  }
  .nav_list .nav_item:hover {
    background-color: #96d7e9;
  }
  .nav_list .nav_item:hover .nav_item_link {
    color: #fff;
  }

  .header {
    padding: 18px 0;
    margin-bottom: 50px;
  }

  .screen_text {
    font-size: 33px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .description_text {
    width: 100%;
    max-width: 100%;
  }

  .section_wripper {
    margin-bottom: 70px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer_contacs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
  }
  .footer_contacs .contacs {
    margin-bottom: 20px;
  }

  .footer_copyright {
    margin-top: 40px;
  }

  .footer_contacs_wrapper {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 440px) {
  .header {
    padding: 15px 0;
    margin-bottom: 30px;
  }

  .hamburger {
    width: 30px;
    height: 30px;
  }

  .screen_text {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 26px;
  }

  .text {
    font-size: 16px;
    line-height: 32px;
  }

  .social {
    margin: 0 5px;
  }

  .footer .contacs {
    font-size: 32px;
    line-height: 42px;
  }
}