@use 'mixin';
@use 'variables';

body {
    background-image: url(../img/body_bg.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}

.container {
    @include mixin.width-box(100%, 1200px);
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @include mixin.text-styling('Playfair Display', normal, 400, 44px, 52px);
    color: variables.$color-text;

    .text_italics {
        font-style: italic;
        color: #85BBB1;
    }
}

.text {
    @include mixin.text-styling('Lato', normal, 300, 18px, 26px);
    color: #262A3F;
    opacity: 0.8;
}

.title_item {
    margin-bottom: 20px;
}

.text_item {
    @include mixin.width-box(100%, 440px);
    margin-bottom: 8%;
    position: relative;
    z-index: -1;
}

.text_video {
    @include mixin.width-box(100%, 885px);
}

.text_promises {
    display: block;
}

.text_reviews {
    @include mixin.width-box(100%, 400px);
    margin-bottom: 4%;
}
 
.btn {
    border: none;
    background-color: inherit;
    @include mixin.text-styling('Lato', normal, 700, 20px, 20px);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: variables.$color-btn;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        width: 92%;
        height: 13px;
        background-color: variables.$color-btn;
        position: absolute;
        opacity: 0.3;
        bottom: -3px;
        right: 0px;
    }
}

.screen {
    margin-bottom: 10%;
}

.indent {
    margin-bottom: variables.$section-bottom-margin;
}

.reviews {
    margin-bottom: 6%;
}

.contact {
    margin-bottom: 6%;
}

.title_benefits {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 6%;
}

.title_contact {
    font-size: 40px;
    line-height: 39px;
    margin-bottom: 6%;
}

.info_text {
    @include mixin.width-box(100%, 51%);
    padding-top: 7%;

    .text {
        &:nth-child(1){
            margin-bottom: 10%;
        }
        &:nth-child(2){
            margin-bottom: 13%;
        }
    }
}

.info_icon {
    @include mixin.text-styling('Playfair Display', normal, 400, 40px, 50px);;
    text-align: center;
    color: #E4E4E4;
}

.info_list_text {
    @include mixin.text-styling('Playfair Display', normal, 400, 68px, 72px);
    text-align: center;
    color: variables.$color-text;
}

.quote_title {
    @include mixin.text-styling('Lato', normal, 400, 32px, 46px);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 40px;
    @include mixin.width-box(100%, 710px);
}

.quote_text {
    @include mixin.text-styling('Playfair Display', italic, 400, 20px, 20px);
    letter-spacing: 0.08em;
    color: #FFFFFF; 
    margin-top: 25px;
}

.title_video {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 2%;
}

.promises_title {
    @include mixin.text-styling('Playfair Display', normal, 400, 24px, 48px);
    color: variables.$color-text;;
    margin-bottom: 5%;
}

.text_item_reviews {
    @include mixin.text-styling('Lato', normal, 400, 16px, 26px);
    color: #FFFFFF;
    opacity: 0.8;
    flex: 1 0;
}

.input {
    @include mixin.text-styling('Playfair Display', italic, 400, 18px, 20px);
    letter-spacing: 0.08em;
    color: variables.$color-text;;
    opacity: 0.5;
    border: none;
    border-bottom: 1px solid #dcdde2;
    margin-bottom: 40px;
    padding: 2% 0;
}

.text_footer {
    @include mixin.text-styling('Lato', normal, 300, 14px, 26px);
    color: variables.$color-text;;
    opacity: 0.6;
    display: inline-block;
    margin-right: 12px;
}

.text_link {
    @include mixin.text-styling('Lato', normal, 400, 14px, 24px);
    letter-spacing: 0.08em;
    color: variables.$color-text;;
}

.text_link:not(.text_link:last-child) {
    margin-right: 32px; 
}
